 <!-- <h1>States</h1>  --> 
<div class="container">
           
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>State</th>
        <th>Country</th>
        <th>Show</th>
         <th>Edit</th>
          <th>Delete</th>
      </tr>
    </thead>
    <tbody>
       <% @state.each do |c| %>
      <tr>
        <td><%= c.state_name %></td>
        <td><%= c.country.country_name %></td>
        <td><%= link_to 'Show', state_path(c) %></td>
        <td><%= link_to 'Edit', edit_state_path(c) %></td>
        <td><%= link_to 'Delete', state_path(c) ,
                method: :delete,
                data: { confirm: 'Are you sure?'} %></td>
      </tr>
       <% end %>
    </tbody>
  </table>
</div>
<div style="text-align: center;">
  <%= link_to 'Enter New State', new_state_path, :class=>"btn btn-success" %> <br>
      <br>
  <%= link_to 'Back to Main Menu', welcome_index_path, :class=>"btn btn-primary" %>
</div>


