

<div style="text-align: center;">
	<h1>Main Menu</h1>
</div>

<div style="text-align: center;">
	<%= link_to 'Enter New Country', new_country_path %> <br>
<br>
<%= link_to 'Update/Delete Country', countries_path %> <br>
<br>
<%= link_to 'Enter New State', new_state_path %> <br>

<br>
<%= link_to 'Update/Delete State', states_path %> <br>

<br>
<%= link_to 'Enter New City', new_city_path %> <br>

<br>
<%= link_to 'Update/Delete City', cities_path %> <br>

<br>
<%= link_to 'Enter New Company', new_company_path %> <br>

<br>
<%= link_to 'Update/Delete Company', companies_path %> <br>



</div>



