
<!-- <h1>Country</h1> -->
<div class="container">
         
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Country</th>
        <th>Show</th>
         <th>Edit</th>
          <th>Delete</th>
      </tr>
    </thead>
    <tbody>
       <% @country.each do |c| %>
      <tr>
        <td><%= c.country_name %></td>

        <td><%= link_to 'Show', country_path(c) %></td>
        <td><%= link_to 'Edit', edit_country_path(c) %></td>
        <td><%= link_to 'Delete', country_path(c) ,
                method: :delete,
                data: { confirm: 'Are you sure?'} %></td>
      </tr>
       <% end %>
      
    </tbody>
  </table>
</div>
<div style="text-align: center;">
  <%= link_to 'Enter New Country', new_country_path, :class=>"btn btn-success" %> <br>
  <br>
  <%= link_to 'Back to Main Menu', welcome_index_path, :class=>"btn btn-primary" %>

</div>


<!-- <style type="text/css">
        table.table-bordered {
        margin-top: -46px;
        }
      </style> -->