<h1>Country</h1>

<table>
  <tr>
    <th>Country</th>
    <th colspan="2"></th>
  </tr>
 
  <% @country.each do |c| %>
    <tr>
      <td><%= c.country_name %></td>
      <td><%= link_to 'Show', country_path(c) %></td>
      <td><%= link_to 'Edit', edit_country_path(c) %></td>
      <td><%= link_to 'Delete', country_path(c) ,
              method: :delete,
              data: { confirm: 'Are you sure?'} %></td>
    </tr>
   
  <% end %>
</table><br>
<%= link_to 'Enter New Country', new_country_path %> <br>
<br>
<%= link_to 'Back to Main Menu', welcome_index_path %>