<h1>Country Master</h1>


<%= form_for @country do |form| %>
  <p>
    <%= form.label :Country_name %><br>
    <%= form.text_field :country_name %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
  <%= link_to 'Back to Main Menu', welcome_index_path %>
<% end %>