<h1>City Master</h1>


<%= form_for @city do |form| %>
  <p>
    <%= form.label :City_name %><br>
    <%= form.text_field :city_name %>
  </p>

  <p>
    <%= form.label :state %><br>
    <%#= form.text_field :state_id %>
    <%= form.collection_select :state_id, State.order(:state_name),:id,:state_name, include_blank: true %>

  </p>
 
  <p>
    <%= form.submit %>
  </p>
  <%= link_to 'Back to Main Menu', welcome_index_path %>
<% end %>