<h1>Edit Images</h1>
 <%= form_with model: @image, scope: :image, url: image_path(@image), local: true do |form| %>

 <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@image.errors.count, "error") %> prohibited
        this image from being saved:
      </h2>
      <ul>
        <% @image.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
    <p>
    <%= form.label :image %><br>
    <%= form.text_field :image_name %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
 
<p>
  <strong>Title:</strong>
  <%= @image.image_name %>
</p>