
<!DOCTYPE html>
<html>
  <head>
    <title>nnt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
   <%= render 'layouts/header'%>
    <%= yield %>
  <%= render 'layouts/footer'%>
  </div>
  </body>
</html>

<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<style type="text/css">
  body{
    background-color: #8b91b3;
  }
</style>